#include "rec.h"

RecIcon	ICON DISCARDABLE rec.ico
RecIcon1	ICON DISCARDABLE rec1.ico
Lightoff	BITMAP sqrlite1.bmp
Lightrec	BITMAP sqrlite2.bmp
Lightplay	BITMAP sqrlite3.bmp

RecMenu MENU
BEGIN
	POPUP       "&File"
	BEGIN
		MENUITEM "&Open..."     IDM_OPEN
		MENUITEM "&Save",       IDM_SAVE
		MENUITEM "&Save As...", IDM_SAVEAS
		MENUITEM   SEPARATOR
		MENUITEM "E&xit",       IDM_EXIT
	END
	POPUP       "&Help"
	BEGIN
		MENUITEM "&About Rec...",IDM_ABOUT
	END
END

AboutBox DIALOG 0, 17, 144, 60
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About Rec"
BEGIN
    CTEXT "Dual Buffer ACM Recorder Sample"     -1, 0,  5, 144, 8
    CTEXT "Version 1.0"                         -1, 0, 15, 144, 8
    CTEXT "Microsoft Corp. Copyright (C) 1994"  -1, 0, 25, 144,  8
END
